<section id="about">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <% if (theme.social_links) { %>
    <p>
      <%= __('index.find_me_on') %>
      <% var nb_links = Object.keys(theme.social_links).length %>
      <% var i = 0 %>
      <% for(var link in theme.social_links) { %>
        <% if (link == 'mail') { %>
          <a class="icon" target="_blank" href="<%- url_for(theme.social_links[link]) %>">
            <i class="fas fa-envelope"></i><!--
      ---></a><!--
      ---><% } else { %>
          <a class="icon" target="_blank" href="<%- url_for(theme.social_links[link]) %>">
            <i class="fab fa-<%= link %>"></i><!--
      ---></a><!--
    ---><% } %><!--
    ---><%= ( nb_links > 0 && i < nb_links-1 ?
            ( i == nb_links-2 ? ' '+__('index.enum_and')+' '
            : __('index.enum_comma')+' ' )
            : '.' ) %>
        <% i+=1 %>
      <% } %>
    </p>
  <% } %>
</section>

<section id="writing">
  <% if (theme.tags_overview && site.tags.length) { %>
  <span class="h2"><%= __('index.topics') %></span>
  <span class="widget tagcloud">
    <%- tagcloud(theme.tags_overview) %>
  </span>
  <% } %>
</section>

<% if (site.data.projects) { %>
<section id="projects">
  <span class="h1"><a href="<%- url_for(theme.projects_url) %>"><%= __('index.projects') %></a></span>
  <ul class="project-list">
    <% for(var obj in site.data.projects){ %>
      <li class="project-item">
        <a href="<%= site.data.projects[obj].url %>"><%= site.data.projects[obj].name %></a>: <%- markdown(site.data.projects[obj].desc) %>
      </li>
    <% } %>
  </ul>
</section>
<% } %>
